.transactionHistory {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  line-height: 1.2;
  width: 700px;
  text-align: center;
  background-color: #fff;
}
.transactionTitle {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(142, 211, 211, 0.897);
}
tr:nth-child(2n) {
  background-color: rgba(208, 228, 228, 0.897);
}
